.remove-btn {
  margin-right: 1.5rem;
}

.fadeEffect-enter {
  opacity: 0.01;
}

.fadeEffect-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeEffect-exit {
  opacity: 1;
}

.fadeEffect-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
