.field-row-pb {
  padding-bottom: 1.375rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  label {
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #373a3c;
    margin-bottom: 8px;
  }
}

.form-control {
  height: 35px;
  border-radius: 4px;
  border: solid 1px #cccccc;
  background-color: #ffffff;
  padding: 10px;

  &:focus {
    outline: none;
    border: 1.5px solid #979797;
  }

  &.error {
    border: solid 1.5px red;
  }
}

.error-text {
  width: inherit !important;
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.notes {
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #979797;
}

.form-disabled {
  opacity: 0.5;
  color: #373a3c;
}

input[name="grant_option"] {
  width: 50%;
}

.form-support-text {
  font-size: 13px;
  display: flex;
  align-items: center;
  right: 145px;
  position: relative;
}

.select-group {
  select {
    font-size: 12px;
    background-color: #eceeef;
    width: 191px;
    height: 38px;
    border-radius: 4px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    margin-top: 8px;
  }
}
